.dog {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 15vh;
    text-align: center;
    line-height: 50vh;
    width: 50vw;
    height: 50vh;
    margin: 24vh 24vw;
    background: url('./dog.jpeg');
    background-size: 50vw 50vh;
}
  
.dog:after { 
    position: absolute;
    content: '';
    width: 30vw;
    height: 50vh;
    margin: 0 -30vw;
    z-index: -100;
}