.dog {
    -webkit-transition: all 2000ms;
    -moz-transition: all 2000ms;
    -o-transition: all 2000ms;
    transition: all 2000ms;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 15vh;
    text-align: center;
    line-height: 50vh;
    width: 50vw;
    height: 50vh;
    background: url('./dog.jpeg');
    background-size: 50vw 50vh;
    margin-left: 25vw;
}
  
.dog:after { 
    position: absolute;
    content: '';
    width: 30vw;
    height: 50vh;
    margin: 0 -30vw;
    z-index: -100;
}
.dog2 {
    -webkit-transition: all 2000ms;
    -moz-transition: all 2000ms;
    -o-transition: all 2000ms;
    transition: all 2000ms;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 15vh;
    text-align: center;
    line-height: 50vh;
    width: 50vw;
    height: 50vh;
    background: url('./dog2.jpeg');
    background-size: 50vw 50vh;
    position: fixed;
    bottom: 0;
}
  
.dog2:after { 
    position: absolute;
    content: '';
    width: 30vw;
    height: 50vh;
    margin: 0 -30vw;
    z-index: -100;
}
.dog3 {
    -webkit-transition: all 2000ms;
    -moz-transition: all 2000ms;
    -o-transition: all 2000ms;
    transition: all 2000ms;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 15vh;
    text-align: center;
    line-height: 50vh;
    width: 50vw;
    height: 50vh;
    background: url('./dog3.jpeg');
    background-size: 50vw 50vh;
    position: fixed;
    bottom: 0;
    right: 0;
}
  
.dog3:after { 
    position: absolute;
    content: '';
    width: 30vw;
    height: 50vh;
    margin: 0 -30vw;
    z-index: -100;
}